.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.form > * {
  margin: 5px;
}

.main > * {
  margin: 10px;
}

.tableRequest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  border: 2px solid gray;
  padding: 2rem;
  border-radius: 2rem;
}

.tableRequest > * {
  margin: 5px;
}

.response {
  width: 70%;
  margin: 5px 0;
  border-top: 1px solid black;
  word-wrap: break-word;
}

